<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="mav1500_ros2_control" params="
              name
              prefix
              bus_config
              master_config
              can_interface_name
              master_bin">

  <ros2_control name="${name}" type="system">
    <hardware>
      <plugin>diff_canopen_system/DiffCanopenSystem</plugin>
      <param name="bus_config">${bus_config}</param>
      <param name="master_config">${master_config}</param>
      <param name="can_interface_name">${can_interface_name}</param>
      <param name="master_bin">"${master_bin}"</param>
    </hardware>
    <joint name="${prefix}left_wheel">
      <param name="node_id">0x1E</param>  <!--30-->

      <!-- convert this to -->
      <!-- <command_interface name="velocity">
        <param name="index">0x2110</param>
        <param name="subindex">0x0</param>
        <param min="-8000" />
        <param max="8000" />
        <param unit="rpm" />
        <param hw_data_type="int16_t" />
      </command_interface> -->
      <param name="command_interface__target_speed__index">0x2110</param> 
      <param name="command_interface__target_speed__subindex">0x0</param> 
      <command_interface name="velocity"/>  <!-- -8000 to 8000 rpm -->

      <param name="state_interface__actual_speed__index">0x211D</param> 
      <param name="state_interface__actual_speed__subindex">0x0</param>
      <state_interface name="velocity"/>  <!-- -10000 to 10000 rpm -->

      <param name="state_interface__torque__index">0x211E</param> 
      <param name="state_interface__torque__subindex">0x0</param>
      <state_interface name="effort"/>  <!-- -32767 to 32767 - 0.01 Nm -->

      <param name="state_interface__inverter_temperature__index">0x2122</param> 
      <param name="state_interface__inverter_temperature__subindex">0x0</param>
      <state_interface name="inverter_temperature"/>

      <param name="state_interface__motor_temperature__index">0x2123</param>
      <param name="state_interface__motor_temperature__subindex">0x0</param> 
      <state_interface name="motor_temperature"/>

      <param name="state_interface__battery_voltage__index">0x2124</param>  
      <param name="state_interface__battery_voltage__subindex">0x0</param>
      <state_interface name="battery_voltage"/>
    </joint>

    <joint name="${prefix}right_wheel">
      <param name="node_id">0x1F</param>  <!--31-->
<param name="command_interface__target_speed__index">0x2110</param> 
      <param name="command_interface__target_speed__subindex">0x0</param> 
      <command_interface name="velocity"/>  <!-- -8000 to 8000 rpm -->

      <param name="state_interface__actual_speed__index">0x211D</param> 
      <param name="state_interface__actual_speed__subindex">0x0</param>
      <state_interface name="velocity"/>  <!-- -10000 to 10000 rpm -->

      <param name="state_interface__torque__index">0x211E</param> 
      <param name="state_interface__torque__subindex">0x0</param>
      <state_interface name="effort"/>  <!-- -32767 to 32767 - 0.01 Nm -->

      <param name="state_interface__inverter_temperature__index">0x2122</param> 
      <param name="state_interface__inverter_temperature__subindex">0x0</param>
      <state_interface name="inverter_temperature"/>

      <param name="state_interface__motor_temperature__index">0x2123</param>
      <param name="state_interface__motor_temperature__subindex">0x0</param> 
      <state_interface name="motor_temperature"/>

      <param name="state_interface__battery_voltage__index">0x2124</param>  
      <param name="state_interface__battery_voltage__subindex">0x0</param>
      <state_interface name="battery_voltage"/>
    </joint>
  </ros2_control>

</xacro:macro>

</robot>
